<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="POST" th:action="@{/register}" th:object="${person}">
    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
            Form errors. Try again.
        </span>
    </div>
      <label for="name">name:</label>
      <input type="text" th:field="*{name}"/>
      <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}" />
      <br>
      <label for="password">password:</label>
      <input type="password" th:field="*{password}"/>
      <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}" />
      <br>
      <input type="submit" value="Submit"/>

  </form>
</body>
</html>