<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Title</title>
</head>
<body>
  <form method="GET" action="/">
    <input type="submit" value="Back to dashboard" />
  </form>
  <h5>Find matches</h5>
  <form method="POST" th:action="@{/searchMatch}" >
    <label>Contestant</label>
    <input type="text" th:value="${contestant}" name="contestant"/>
    <br>
    <label>From date</label>
    <input type="date" th:value="${beginDate}" name="beginDate"/>
    <br>
    <label>To date</label>
    <input type="date" th:value="${endDate}" name="endDate"/>
    <br>
    <label>Type</label>
    <select name="matchType">
      <option disabled selected value>Select type...</option>
      <option th:each="state : ${T(pl.ug.edu.mwitt.jpa.domain.MatchType).values()}"
              th:value="${state.getTranslation()}"
              th:text="${state.getTranslation()}"
              name="${state}">
      </option>
    </select>
    <br>
    <input type="submit" value="Submit"/>
  </form>
  <br>
  <h5>Find people</h5>
  <form method="POST" th:action="@{/searchPerson}" >
    <label>Name</label>
    <input type="text" th:value="${name}" name="name"/>
    <br>
    <label>Team</label>
    <input type="text" th:value="${team}" name="team"/>
    <br>
    <input type="submit" value="Submit"/>
  </form>

  <table th:if="${foundMatches}">
    <tr>
      <td>Type</td>
      <td>Begin time</td>
      <td>Contestants</td>
      <td>Winner</td>
      <td>Your bet</td>
      <td th:if="${user.personType==T(pl.ug.edu.mwitt.jpa.domain.PersonType).Admin}">Options</td>
    </tr>
    <tr th:each="match, iter : ${foundMatches}">
      <td th:text="${match.matchType.getTranslation()}"/>
      <td th:text="${match.beginTime}"/>
      <td>
        <span th:each="person, iterStat : ${match.persons}"
              th:text="!${iterStat.last} ? ${person.getName()} + ', ': ${person.getName()}">
        </span>
      </td>
      <td th:if="${match.winner!=null}" th:text="${match.winner.name}"/>
      <td th:unless="${match.winner!=null}">N/A</td>
      <td>
        <form th:if="${match.winner==null && !foundMatchesUserBets.get(iter.index).isPresent()}"
              method="POST" th:action="@{/search/bet}" th:object="${bet}">
          <label>amount:</label>
          <input type="number" min="0.01" step="0.01" th:field="*{amount}">
          <input type="hidden" th:value="${match.id}" name="match">
          <label>on:</label>
          <select name="person">
            <option th:each="person : ${match.persons}"
                    th:value="${person.id}"
                    th:field="*{person}"
                    th:text="${person.name}"
                    name="${person}">
            </option>
          </select>
          <input type="submit" value="Place bet"/>
          <span th:text="Error!" th:if="${#fields.hasErrors()}" />
        </form>
        <div th:if="${foundMatchesUserBets.get(iter.index).isPresent()}">
          Betted: <span th:text="${foundMatchesUserBets.get(iter.index).get().amount}"/>
          on <span th:text="${foundMatchesUserBets.get(iter.index).get().person.name}"/>
          <br>
          <form th:if="${match.winner==null}" method="POST" action="/search/bet/delete">
            <input type="hidden" th:value="${foundMatchesUserBets.get(iter.index).get().id}" name="id">
            <input class="red" type="submit" value="Remove bet" />
          </form>
        </div>
      </td>
      <td th:if="${user.personType==T(pl.ug.edu.mwitt.jpa.domain.PersonType).Admin}">
        <form method="GET" action="/addPerson">
          <input type="submit" value="Add user" />
        </form>
        <form method="GET" action="/addMatch">
          <input type="submit" value="Add match" />
        </form>
        <form method="GET" action="/addTeam">
          <input type="submit" value="Add team" />
        </form>
      </td>
    </tr>
  </table>

  <table th:if="${foundPeople}">
    <tr>
      <td>Name</td>
      <td>Team</td>
      <td>Type</td>
      <td th:if="${user.personType==T(pl.ug.edu.mwitt.jpa.domain.PersonType).Admin}">Options</td>
    </tr>
    <tr th:each="person : ${foundPeople}">
      <td th:text="${person.name}"/>
      <td th:if="${person.team!=null}" th:text="${person.team.name}"/>
      <td th:unless="${person.team!=null}">No team</td>
      <td th:text="${person.personType.getTranslation()}"/>
      <td th:if="${user.personType==T(pl.ug.edu.mwitt.jpa.domain.PersonType).Admin}">
        <form method="GET" action="/addPerson">
          <input type="hidden" th:value="${person.id}" name="id">
          <input type="submit" value="Edit" />
        </form>
      </td>
    </tr>
  </table>
</body>
</html>